rice/
Desktop
.dmrc
Downloads/
groups.txt
infra/
iommu
iommu-groups.sh
.lesshst
.lyrics
.mozilla
Music
Nextcloud
.npm
.nv
.nvidia-settings-rc
.pki
polybar-collection
.profile
.pulse-cooke
.ssh/
.steam
.steampath
.steampid
*.tmp
*.tdb
.viminfo
VirtualMachine/
.wine
workspacesnames.sh
.ansible
.bash_*
.cache
cache_directory
.cargo
.histfile
nordarch/
.histfile
nordarch/
.zoom/
facultad/
facultad/
.gitconfig
.gnupg/
.local/
.pulse-cookie
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zshrc*
.Xauthority


.config/autostart
.config/balena-etcher
.config/bpytop
.config/cava
.config/cef_user_data
.config/configstore
.config/dconf
.config/discord
.config/Electron
.config/flameshot
.config/fontconfig
.config/font-manager
.config/ibus
.config/kconf_updaterc
.config/libreoffice
.config/libvirt
.config/Microsoft
.config/mimeapps.list
.config/nemo
.config/neofetch
.config/Nextcloud
.config/obs-studio
.config/qBittorrent
.config/spotify
.config/spotifyd
.config/spotify-tui
.config/systemd
.config/teams
.config/Thunar
.config/whatsapp*
.config/xfce4
.config/zoomus.conf
.config/vivaldi
.config/QtProject.conf
.config/Unknown Organization/
.config/pavucontrol.ini
