snippet td "[]" bA
[ ] $0
endsnippet

snippet qt ">" bA
> $0
endsnippet

snippet h1 "Subsection" bA
#$1
$0
endsnippet

snippet h2 "Subsection" bA
##$1
$0
endsnippet

snippet h3 "Subsection" bA
###$1
$0
endsnippet

snippet ii "Italic text" iA
*$1* $0
endsnippet

snippet bb "Bold text" iA
**$1** $0
endsnippet

snippet link "Link" iA
[$1]($2) $0
endsnippet

snippet mk "Inline code" i
\`$1\`$0
endsnippet

snippet ali "Codeblock" b
\`\`\`
$1
\`\`\`
$0
endsnippet
